<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.english.storm.mapper.MemoryProgressMapper" >
  <resultMap id="BaseResultMap" type="com.english.storm.pojo.MemoryProgress" >
    <id column="_id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="word_id" property="wordId" jdbcType="INTEGER" />
    <result column="spell_time" property="spellTime" jdbcType="BIGINT" />
    <result column="memory_time" property="memoryTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    _id, user_id, word_id, spell_time, memory_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.english.storm.pojo.MemoryProgressExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from memory_progress
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from memory_progress
    where _id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from memory_progress
    where _id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.english.storm.pojo.MemoryProgressExample" >
    delete from memory_progress
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.english.storm.pojo.MemoryProgress" >
    insert into memory_progress (_id, user_id, word_id, 
      spell_time, memory_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{wordId,jdbcType=INTEGER}, 
      #{spellTime,jdbcType=BIGINT}, #{memoryTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.english.storm.pojo.MemoryProgress" >
    insert into memory_progress
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        _id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="wordId != null" >
        word_id,
      </if>
      <if test="spellTime != null" >
        spell_time,
      </if>
      <if test="memoryTime != null" >
        memory_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="wordId != null" >
        #{wordId,jdbcType=INTEGER},
      </if>
      <if test="spellTime != null" >
        #{spellTime,jdbcType=BIGINT},
      </if>
      <if test="memoryTime != null" >
        #{memoryTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.english.storm.pojo.MemoryProgressExample" resultType="java.lang.Integer" >
    select count(*) from memory_progress
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update memory_progress
    <set >
      <if test="record.id != null" >
        _id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.wordId != null" >
        word_id = #{record.wordId,jdbcType=INTEGER},
      </if>
      <if test="record.spellTime != null" >
        spell_time = #{record.spellTime,jdbcType=BIGINT},
      </if>
      <if test="record.memoryTime != null" >
        memory_time = #{record.memoryTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update memory_progress
    set _id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      word_id = #{record.wordId,jdbcType=INTEGER},
      spell_time = #{record.spellTime,jdbcType=BIGINT},
      memory_time = #{record.memoryTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.english.storm.pojo.MemoryProgress" >
    update memory_progress
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="wordId != null" >
        word_id = #{wordId,jdbcType=INTEGER},
      </if>
      <if test="spellTime != null" >
        spell_time = #{spellTime,jdbcType=BIGINT},
      </if>
      <if test="memoryTime != null" >
        memory_time = #{memoryTime,jdbcType=BIGINT},
      </if>
    </set>
    where _id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.english.storm.pojo.MemoryProgress" >
    update memory_progress
    set user_id = #{userId,jdbcType=INTEGER},
      word_id = #{wordId,jdbcType=INTEGER},
      spell_time = #{spellTime,jdbcType=BIGINT},
      memory_time = #{memoryTime,jdbcType=BIGINT}
    where _id = #{id,jdbcType=INTEGER}
  </update>
</mapper>