<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.english.storm.mapper.WordMapper" >
  <resultMap id="BaseResultMap" type="com.english.storm.pojo.Word" >
    <id column="_id" property="id" jdbcType="INTEGER" />
    <result column="word" property="word" jdbcType="VARCHAR" />
    <result column="chinese" property="chinese" jdbcType="VARCHAR" />
    <result column="uk_phonetic" property="ukPhonetic" jdbcType="VARCHAR" />
    <result column="us_phonetic" property="usPhonetic" jdbcType="VARCHAR" />
    <result column="uk_sound" property="ukSound" jdbcType="VARCHAR" />
    <result column="us_sound" property="usSound" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    _id, word, chinese, uk_phonetic, us_phonetic, uk_sound, us_sound, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.english.storm.pojo.WordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from word
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from word
    where _id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from word
    where _id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.english.storm.pojo.WordExample" >
    delete from word
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.english.storm.pojo.Word" >
    insert into word (_id, word, chinese, 
      uk_phonetic, us_phonetic, uk_sound, 
      us_sound, update_time)
    values (#{id,jdbcType=INTEGER}, #{word,jdbcType=VARCHAR}, #{chinese,jdbcType=VARCHAR}, 
      #{ukPhonetic,jdbcType=VARCHAR}, #{usPhonetic,jdbcType=VARCHAR}, #{ukSound,jdbcType=VARCHAR}, 
      #{usSound,jdbcType=VARCHAR}, #{updateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.english.storm.pojo.Word" >
    insert into word
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        _id,
      </if>
      <if test="word != null" >
        word,
      </if>
      <if test="chinese != null" >
        chinese,
      </if>
      <if test="ukPhonetic != null" >
        uk_phonetic,
      </if>
      <if test="usPhonetic != null" >
        us_phonetic,
      </if>
      <if test="ukSound != null" >
        uk_sound,
      </if>
      <if test="usSound != null" >
        us_sound,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="word != null" >
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="chinese != null" >
        #{chinese,jdbcType=VARCHAR},
      </if>
      <if test="ukPhonetic != null" >
        #{ukPhonetic,jdbcType=VARCHAR},
      </if>
      <if test="usPhonetic != null" >
        #{usPhonetic,jdbcType=VARCHAR},
      </if>
      <if test="ukSound != null" >
        #{ukSound,jdbcType=VARCHAR},
      </if>
      <if test="usSound != null" >
        #{usSound,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.english.storm.pojo.WordExample" resultType="java.lang.Integer" >
    select count(*) from word
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update word
    <set >
      <if test="record.id != null" >
        _id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.word != null" >
        word = #{record.word,jdbcType=VARCHAR},
      </if>
      <if test="record.chinese != null" >
        chinese = #{record.chinese,jdbcType=VARCHAR},
      </if>
      <if test="record.ukPhonetic != null" >
        uk_phonetic = #{record.ukPhonetic,jdbcType=VARCHAR},
      </if>
      <if test="record.usPhonetic != null" >
        us_phonetic = #{record.usPhonetic,jdbcType=VARCHAR},
      </if>
      <if test="record.ukSound != null" >
        uk_sound = #{record.ukSound,jdbcType=VARCHAR},
      </if>
      <if test="record.usSound != null" >
        us_sound = #{record.usSound,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update word
    set _id = #{record.id,jdbcType=INTEGER},
      word = #{record.word,jdbcType=VARCHAR},
      chinese = #{record.chinese,jdbcType=VARCHAR},
      uk_phonetic = #{record.ukPhonetic,jdbcType=VARCHAR},
      us_phonetic = #{record.usPhonetic,jdbcType=VARCHAR},
      uk_sound = #{record.ukSound,jdbcType=VARCHAR},
      us_sound = #{record.usSound,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.english.storm.pojo.Word" >
    update word
    <set >
      <if test="word != null" >
        word = #{word,jdbcType=VARCHAR},
      </if>
      <if test="chinese != null" >
        chinese = #{chinese,jdbcType=VARCHAR},
      </if>
      <if test="ukPhonetic != null" >
        uk_phonetic = #{ukPhonetic,jdbcType=VARCHAR},
      </if>
      <if test="usPhonetic != null" >
        us_phonetic = #{usPhonetic,jdbcType=VARCHAR},
      </if>
      <if test="ukSound != null" >
        uk_sound = #{ukSound,jdbcType=VARCHAR},
      </if>
      <if test="usSound != null" >
        us_sound = #{usSound,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where _id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.english.storm.pojo.Word" >
    update word
    set word = #{word,jdbcType=VARCHAR},
      chinese = #{chinese,jdbcType=VARCHAR},
      uk_phonetic = #{ukPhonetic,jdbcType=VARCHAR},
      us_phonetic = #{usPhonetic,jdbcType=VARCHAR},
      uk_sound = #{ukSound,jdbcType=VARCHAR},
      us_sound = #{usSound,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=BIGINT}
    where _id = #{id,jdbcType=INTEGER}
  </update>
</mapper>